/*
From : https://github.com/kakaroto/Beyond20
License : https://github.com/kakaroto/Beyond20/blob/master/LICENSE.MIT
*/
:root {
    --primary-main: #bb99ff;
    --primary-light: rgb(200, 173, 255);
    --primary-dark: rgb(130, 107, 178);
    --primary-contrast-text: rgba(0, 0, 0, 0.87);
    --secondary-main: #ee99ff;
    --secondary-light: rgb(241, 173, 255);
    --secondary-dark: rgb(166, 107, 178);
    --secondary-contrast-text: rgba(0, 0, 0, 0.87);
    --background-paper: #222639;
    --background-default: #1e2231;
    --text-disabled: rgba(255, 255, 255, 0.5);
    --text-primary: #fff;
    --text-secondary: rgba(255, 255, 255, 0.7);

    --spell-color : #dd33ff;
    --red : #FF5C5C;
    --green : #5CFF5C;
    --green-bg : green;
    --blue : #5C5CFF;
    --yellow: #FFFF5C;

    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}
body[data-theme="LIGHT"] {
    --primary-main: #9966ff;
    --primary-light: rgb(173, 132, 255);
    --primary-dark: rgb(107, 71, 178);
    --primary-contrast-text: #fff;
    --secondary-main: #dd33ff;
    --secondary-light: rgb(227, 91, 255);
    --secondary-dark: rgb(154, 35, 178);
    --secondary-contrast-text: #fff;
    --background-paper: #f1f3f9;
    --background-default: #dde1ee;
    --text-disabled: rgba(0, 0, 0, 0.38);
    --text-primary: rgba(0, 0, 0, 0.87);
    --text-secondary: rgba(0, 0, 0, 0.6);


    --spell-color : purple;
    --red : darkred;
    --green : darkgreen;
    --green-bg : lightgreen ;
    --blue : darkblue;
    --yellow: #D1C000;

}

body {
        color: var(--text-primary);  
}

a {
  color: var(--spell-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--spell-color);
}

h3 {
  margin:0;
  margin-top: 12px;
  width:100%;
  background-color: var(--background-paper);
}




.beyond20-quick-roll-tooltip,
.beyond20-quick-roll-area {
    cursor: pointer;
}
.beyond20-quick-roll-tooltip .beyond20-quick-roll-indicator.right {
    position: absolute;
    padding: 0px;
    height: 50%;
    top: 25%;
    left: -5px;
    transform: rotate(180deg);
}

.beyond20-quick-roll-tooltip .beyond20-quick-roll-indicator.left {
    position: absolute;
    padding: 0px;
    height: 50%;
    top: 25%;
    left: calc(100% - 6px);
}

.beyond20-quick-roll-tooltip .beyond20-quick-roll-indicator.down {
    position: absolute;
    padding: 0px;
    height: 50%;
    top: -16px;
    left: calc(50% - 5px);
    transform: rotate(-90deg);
}

.beyond20-quick-roll-tooltip .beyond20-quick-roll-indicator.up {
    position: absolute;
    padding: 0px;
    height: 50%;
    top: calc(100% - 6px);
    left: calc(50% - 5px);
    transform: rotate(90deg);
}

/* This is needed so the tooltip's absolute position is
 * relative to the message's position in the chatlog
 */
.beyond20-roll-result,
.beyond20-roller-error {
    position: relative;
    overflow: visible;
    padding: 0px 5px;
}

/* Ensure hover tooltips aren't clipped by surrounding elements */
.chat-message .message-content:has(> .beyond20-message) {
    overflow: visible;
}

.beyond20-message,
.beyond20-tooltip {
    overflow: visible;
}

/* Foundry sets overflow:hidden which clips tooltips */
.beyond20-message .message-content {
    overflow: visible;
}

.beyond20-total-damage {
    font-size: 1.05em;
    font-weight: bold;
    border-radius: 3px;
    line-height: 24px;
    text-align: center;
    box-shadow: var(--primary-main) 0px 0px 2px inset;
    background: var(--background-paper);
    border: 1px solid #999;
    margin-bottom: 3px;
}

.beyond20-critical-damage {
    border-left: 2px solid var(--red);
    padding-left: 3px;
}

.beyond20-total-damage.beyond20-critical-damage {
    border: 1px solid var(--red);
    border-radius: 3px;
    margin-bottom: 2px;
    box-shadow: var(--red) 0px 0px 2px inset;
    padding: 0px 5px;
}

.beyond20-healing {
    font-size: 1.05em;
    font-weight: bold;
    border-radius: 3px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 3px;
    border: 1px solid var(--green-bg);
    background: rgb(40 255 0 / 10%);
    box-shadow: 0 0 2px #0b6900c2 inset;
}

.beyond20-dice-roller-content {
    background-color: var(--secondary-light);
    border-radius: 10px;
    padding: 10px;
}

.beyond20-roll-total {
    text-decoration: none;
    font-weight: bold;
}

.beyond20-message {
    /* font-size: 12px; */
    font-family: "Signika", "Roboto", sans-serif;
}

.beyond20-header {
    display: flex;
    flex-direction: row;
}
.beyond20-header .beyond20-character-avatar {
    display: none;
}
.beyond20-message details {
    flex-grow: 1;
}

.beyond20-message details summary,
.beyond20-title {
    flex: 1;
    font-style: normal;
    margin: 2px 0px;
    line-height: 36px;
    font-family: "Modesto Condensed", "Roboto Condensed", "Palatino Linotype", serif;
    font-size: 20px;
    font-weight: 700;
    color: var(--spell-color);
    padding-top: 3px;
}

.beyond20-message .beyond20-description,
.beyond20-message details table {
    /* border: 2px groove #eeede0; */
    border: none;
    width: 100%;
    padding: 4px;
    border-spacing: 0;
    border-collapse: collapse;
    background-color: initial;
}

.beyond20-message table td:first-child {
    font-weight: bold;
}

.beyond20-roll-cells,
.beyond20-roll-dice-rolls,
.beyond20-dice-roller-content .beyond20-roll-dice {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 0.2em;
    padding: 0;
}

.beyond20-roll-cell,
.beyond20-roll-die-result {
    flex: 1 0 auto;
    margin: 1px;

    line-height: 24px;
    text-align: center;
    background: var(--background-default);
    border: 1px solid #999;
    border-radius: 3px;
    box-shadow: 0 0 2px #fff inset;
    font-size: 20px;
    font-weight: bold;
    font-family: "Signika", "Roboto", serif;
}

.beyond20-dice-roller-content .beyond20-roll-dice-formula {
    flex-grow: 1;
}
.beyond20-dice-roller-content .beyond20-roll-dice-rolls {
    flex-grow: 4;
}
.beyond20-dice-roller-content .beyond20-roll-formula {
    background-color: var(--background-paper);
    text-align: center;
    width: 100%;
}


/* WIP, this css probably has edge cases for non d20's*/
.beyond20-roll-cell .beyond20-roll-detail-crit:before {
    content:"[CRIT] ";
}

.beyond20-roll-detail-crit {
    color: var(--green);
    font-weight: bold;
}
.beyond20-roll-detail-fail {
    color: var(--red);
    font-weight: bold;
}
.beyond20-roll-detail-crit-fail {
    color: var(--blue);
    font-weight: bold;
}
.beyond20-roll-detail-normal {
    color: var(--text-primary);
}
.beyond20-roll-detail-discarded {
    color: var(--text-disabled);
    text-decoration: line-through;
    opacity: 0.5;
}

.beyond20-tooltip .beyond20-tooltip-content {
    display: none;
    background-color: var(--background-paper);
    text-align: left;
    border-radius: 6px;
    padding: 5px 10px;
    margin: 10px;
    width: 90%;
    top: -50%;
    left: 0;
    border: 2px solid var(--text-secondary);

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    /* animate*/
    transition: opacity 2s linear;
}

span.dice-roll.beyond20-tooltip-content {
    xbackground-color: #f9f9f9;
}

.beyond20-tooltip:hover .beyond20-tooltip-content {
    display: block;
    /* Move the tooltip above the parent element. */
    transform: translate(0, -100%);
    transition: opacity 2s linear;
    font-size: initial;
}

.beyond20-tooltip-content .dice-tooltip {
    display: block;
}

.dice-tooltip .part-header {
    font-size: initial;
}

.dice-roll .dice-formula {
    margin: 0.3em 0;
    font-weight: normal;
}

.beyond20-query-prefix {
    padding: 5px;
}

.beyond20-form-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 3px 0;
}
.beyond20-form-row > * {
    flex: 2;
}

.beyond20-button-roll-damages {
    display:none;
}

/* Resizes Beyond20 Icon (20px) to fit new text size, this might need further fixing/a new, smaller icon for better visibility. */
.beyond20-message details img.ct-beyond20-custom-icon {
    display:none;
}

/* Changes Tooltips for the DnDBeyond page display rolls */
.dice-formula.beyond20-roll-formula {
    line-height: 24px;
    text-align: center;
    background: var(--background-paper);
    border: 1px solid var(--text-disabled);
    border-radius: 3px;
    box-shadow: 0 0 2px var(--primary-light) inset;
    /* font-size: 20px; */
    margin: 5px 0;
    font-weight: bold;
}

.beyond20-roll-dice-formula {
    text-align: center;
    font-size: 18px;
    margin: auto;
}

/* Styles the DDB Page roll-popup field */
.beyond20-dice-roller-content {
    background: var(--background-paper);
    border: 1px solid #999;
    border-radius: 3px;
    box-shadow: 0 0 2px #fff inset;
    margin: 5px 0;
}
/* Prevent background / border images from swallowing quickroll mouse events */
.ddbc-box-background {
    pointer-events: none;
}

.beyond20-hotkeys-hidden {
    display: none;
}

.ct-character-header-desktop__group--beyond20-hotkeys,
.ct-character-header-tablet__group--beyond20-hotkeys,
.ct-character-header-mobile__group--beyond20-hotkeys {
    position: relative;
}

.ct-character-header-mobile__group--beyond20-hotkeys > .beyond20-hotkeys-list {
    right: -32px;
}


.ct-beyond20-icon {
    display:none;
}
summary:hover {
    background-color: var(--background-paper);
    border-radius: 10px;
}
summary {
    color: var(--spell-color);
}